.loweralpha {
    list-style-type: lower-alpha;
}

.lowerlatin {
    list-style-type: lower-roman;
}

#tinkerbell {
    position: absolute;
}
p {background-color: blue;}
body {background-color: lightgreen;}