.loweralpha {
    list-style-type: lower-alpha;
}

.lowerlatin {
    list-style-type: lower-roman;
}

#tinkerbell {
    position: absolute;
}

p.Class {
    background-color: chartreuse;
    color: blue;
}