.loweralpha {
    list-style-type: lower-alpha;
}

.lowerlatin {
    list-style-type: lower-roman;
}

#tinkerbell {
    position: absolute;
}

.name {
    background-color: lightgreen;
    color: blue;
}