.loweralpha {
    list-style-type: lower-alpha;
}

.lowerlatin {
    list-style-type: lower-roman;
}

#tinkerbell {
    position: 100, 50;
    width: 50px;
}
.name{color: blue;
background-color: lightgreen;}